[core]
engine = $ENGINE

[engine "$ENGINE"]
target = db:$ENGINE:$PROJECT_NAME
registry = sqitch
top_dir = .

# -- macOS + Brew
client = /opt/homebrew/bin/psql

# -- Linux
# client = /usr/bin/psql

[target "db:$ENGINE:$PROJECT_NAME"]
uri = db:$ENGINE://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME
