[core]
engine = $DB_ENGINE

[engine "$DB_ENGINE"]
target = db:$DB_ENGINE:$PROJECT_NAME
registry = sqitch
top_dir = .

# -- macOS + Brew
client = /opt/homebrew/bin/psql

# -- Linux
# client = /usr/bin/psql

[target "db:$DB_ENGINE:$PROJECT_NAME"]
uri = db:$DB_ENGINE://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME
